@font-face {
    font-family: 'Brickell';
    src: url('../fonts/Brickell.woff2') format('woff2'),
         url('../fonts/Brickell.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}