@font-face {
    font-family: 'Mairo';
    src: url('../fonts/mairo.woff2') format('woff2'),
         url('../fonts/mairo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}