.text-small {
	font-size: .85rem;

	@media #{$mq-2xl-min} {
		font-size: .75rem;
	}
}

.text-medium {
	font-size: 1.175rem;
}

.text-medium-big {
	font-size: clamp(1.2rem, 1.75vw, 1.275rem);
	line-height: 1.4;

	@media #{$mq-sm-min} {
		line-height: 1.1;
	}
}

.text-big {
	font-size: clamp(1.5rem, 3vw, 2.5rem);
	line-height: 1.1;
}

.text-biggest {
	font-size: clamp(1.75rem, 3.75vw, 3rem);
	line-height: 1;
}