#fs-menu {
    background-color: transparent;
    position: fixed;
    z-index: 98;
    width: 100%;
    top: 1rem;
    right: 0;
    pointer-events: none;
    overflow: visible;

    .container {
        display: flex;
        justify-content: flex-end;
        pointer-events: none;

        .blue-box {
            background-color: $blue-dark;
            border-radius: 1rem;
            padding: 1rem 1.75rem;
            width: 100%;
            transform: scale(0);
            transform-origin: 100% 0;
            will-change: transform;

            @media #{$mq-xs-min} {
                width: fit-content;
            }

            @media #{$mq-sm-min} {
                padding: 1.5rem;
            }

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                .logo {
                    display: flex;
                    width: 5rem;
                    height: auto;

                    svg {
                        width: 100%;
                    }
                }

                .close-fs {
                    display: flex;
                    width: 2rem;
                    min-width: 2rem;
                    height: 2rem;
                    background-color: $white;
                    color: $blue;
                    border-radius: 50%;
                    padding: .675rem;

                    &:hover {
                        svg {
                            transform: rotate(180deg);
                        }
                    }

                    svg {
                        width: 100%;
                        transition: .4s ease-in-out;
                        will-change: transform;
                    }
                }
            }

            .menu {
                padding: 4vh 0;

                @media #{$mq-md-min} {
                    padding: 3vh 0 1vh 0;
                }

                li {
                    display: block;
                    padding: 1.5vh 0;

                    @media #{$mq-md-min} {
                        padding: .25vh 0;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        display: inline-block;
                        font-size: 5vh;
                        transition: .3s ease-in-out;

                        @media #{$mq-md-min} {
                            font-size: 4vh;
                        }

                        &:hover,
                        &.active {
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
}

.blur-fs-bg {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(.15rem);
    opacity: 0;
    background-color: transparentize($blue, .75);
}