#top-menu {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    background-color: transparent;

    @media #{$mq-sm-min} {
        padding: 1.325rem 0;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5vw;

        .logo {
            position: relative;
            display: flex;
            width: 15rem;

            @media #{$mq-sm-min} {
                width: 18rem;
            }

            &:hover {
                svg {
                    .letter {
                        fill: $blue;
                    }
                }
            }

            .icon {
                position: absolute;
                top: 0;
                left: 0;
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: auto;
                    height: 100%;
                }
            }

            svg {
                width: 100%;
                height: auto;

                path {
                    transition: .3s ease-in-out;
                }
            }
        }

        .open-fs {
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            padding: .25rem;

            @media #{$mq-sm-min} {
                padding: .375rem;
            }

            svg {
                width: 100%;
                height: auto;
            }
        }
    }
}