#main-content {
    --scroll-size: 4rem;

    &.home {
        .bg-video {
            position: fixed;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: $blue-dark;
            
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background: linear-gradient(0deg, transparentize($blue-dark, 1) 0%, $blue-dark 100%);
            }

            .overlay {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $blue-dark;
                opacity: 0;
            }

            .desk {
                opacity: .675;

                @media #{$mq-md-max} {
                    display: none;
                }
            }

            .mob {
                opacity: .675;

                @media #{$mq-md-min} {
                    display: none;
                }
            }
        }

        #banner {
            .flex {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 100svh;
                color: $white;

                h1 {
                    font-family: $font-title;
                    font-size: clamp(4rem, 7.5vw, 6.75rem);
	                line-height: .7;
                }
            }
        }

        #quem-somos {
            overflow: visible;

            .flex {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;
                text-align: center;
                min-height: 100svh;
                color: $white;

                p {
                    display: block;
                    width: 45rem;
                    max-width: 100%;
                    margin: 1rem auto;
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 8rem;
                    height: 8rem;
                    border: 2px solid $blue;
                    border-radius: 50%;
                    line-height: 1.2;
                    font-weight: $bold;
                    margin-top: 1rem;
                    transition: background-color .3s ease-in-out;

                    &:hover {
                        background-color: $blue;

                    }
                }
            }
        }

        #produtos {
            position: relative;
            z-index: 2;
            overflow: hidden;
            border-top-left-radius: clamp(2rem, 6vw, 5rem);
            border-top-right-radius: clamp(2rem, 6vw, 5rem);
            background-color: $white;

            @media #{$mq-sm-max} {
                padding-top: var(--big);
                padding-bottom: var(--big);
            }

            .top {
                text-align: center;
                position: relative;
                z-index: 3;

                h2 {
                    width: fit-content;
                    margin: 0 auto;
                }

                .products-navigation {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                    flex-wrap: wrap;
                    text-align: center;
                    margin-top: 1.5rem;
                    position: relative;
                    z-index: 5;
                    margin-bottom: -3rem;
                    font-size: .9rem;

                    @media #{$mq-sm-min} {
                        margin-bottom: -7rem;
                    }

                    @media #{$mq-lg-min} {
                        margin-bottom: -5rem;
                    }

                    @media #{$mq-xl-min} {
                        margin-top: 1.5rem;
                        margin-bottom: -3rem;
                    }

                    .swiper-pagination-bullet {
                        position: relative;
                        width: auto;
                        height: auto;
                        background-color: transparent;
                        white-space: nowrap;
                        font-weight: $bold;

                        &:before {
                            content: '';
                            position: absolute;
                            z-index: -1;
                            top: -.1rem;
                            left: -.375rem;
                            width: 1.25rem;
                            height: 1.25rem;
                            border-radius: 50%;
                            background-color: transparent;
                            transform: translateX(1rem);
                            transition: .3s ease-in-out;
                        }

                        &.swiper-pagination-bullet-active {
                            &:before {
                                background-color: $blue;
                                transform: none;
                            }
                        }
                    }
                }
            }

            .products-slider {
                .product-nav {
                    position: absolute;
                    z-index: 3;
                    top: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    border: 1px solid darken($blue, 10);
                    color: darken($blue, 10);
                    padding: 1rem;
                    transition: background-color .3s ease-in-out, color .3s ease-in-out;

                    @media #{$mq-lg-min} {
                        width: 4rem;
                        height: 4rem;
                        border-width: 1.5px;
                    }

                    &.swiper-button-disabled {
                        opacity: .25;
                        cursor: default;
                        pointer-events: none;
                    }

                    &:hover {
                        background-color: darken($blue, 10);
                        color: $white;
                    }

                    &.next {
                        right: 0;

                        @media #{$mq-lg-min} {
                            left: 75%;
                            right: auto;
                        }
                    }

                    &.prev {
                        left: 0;

                        @media #{$mq-lg-min} {
                            right: 75%;
                            left: auto;
                        }
                    }
                }

                .swiper-slide {
                    &.swiper-slide-active {
                        .top {
                            filter: none;
                            transform: none;

                            .image {
                                pointer-events: all;

                                .bg {
                                    //animation: breath 4.23s .6s linear infinite;

                                    .inner {
                                        opacity: 1;
                                        width: 80%;
                                        padding-bottom: 80%;
                                    }
                                }

                                img {
                                    animation: fishJump 1s ease-out forwards;
                                }
                            }
                        }

                        .bottom {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .top {
                        text-align: center;
                        filter: blur(.25rem);
                        transition: filter .3s ease-in-out, transform .3s ease-in-out;
                        transform: scale(.75);

                        .image {
                            position: relative;
                            z-index: 1;
                            pointer-events: none;

                            .bg {
                                position: absolute;
                                z-index: 0;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 65%;
                                height: 0;
                                padding-bottom: 65%;
                                border-radius: 50%;
                                background-color: $gray-lightest;
                                transition: .3s ease-in-out;

                                .inner {
                                    position: absolute;
                                    z-index: 1;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%) scale(1);
                                    height: var(--scroll-size);
                                    border-radius: 50%;
                                    background-color: $blue;
                                    transition: .6s ease-in-out;
                                    //animation: breath 7.43s .6s linear infinite;
                                    opacity: 0;
                                    width: 0;
                                    padding-bottom: 0;
                                }
                            }

                            img {
                                position: relative;
                                z-index: 2;

                                @media #{$mq-xl-min} {
                                    width: 35vw;
                                    margin: auto;
                                }
                            }
                        }

                        h2 {
                            position: relative;
                            z-index: 2;
                            font-size: 2.25rem;
                            margin-top: -12vw;

                            @media #{$mq-sm-min} {
                                margin-top: -8rem;
                            }

                            @media #{$mq-md-min} {
                                font-size: 2.75rem;
                                margin-top: -7rem;
                            }

                            @media #{$mq-xl-min} {
                                font-size: 4rem;
                                margin-top: -8.5rem;
                            }
                        }

                        p {
                            position: relative;
                            z-index: 3;
                            font-size: 1.1rem;
                        }
                    }

                    .bottom {
                        position: relative;
                        z-index: 4;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        width: 100%;
                        gap: .25rem;
                        margin-top: 1.5rem;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s ease-in-out;

                        @media #{$mq-xs-min} {
                            flex-wrap: nowrap;
                        }

                        @media #{$mq-lg-min} {
                            gap: 3rem;
                        }

                        @media #{$mq-xl-min} {
                            gap: 5rem;
                        }
                        
                        .icon {
                            position: relative;

                            @media #{$mq-lg-max} {
                                border: 1px solid $gray-lighter;
                                padding: 1rem;
                                border-radius: .5rem;
                                width: calc(100% / 4);
                            }

                            @media #{$mq-sm-max} {
                                border-color: $gray-lightest;
                                padding: .875rem;
                                border-radius: .25rem;
                                max-width: 50%;
                                width: calc(100% / 2 - .25rem);
                                //flex: 1;
                            }

                            &:first-child {
                                &:before {
                                    content: none;
                                }
                            }

                            &:before {
                                @media #{$mq-lg-min} {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: -1rem;
                                    width: 1px;
                                    height: 100%;
                                    background-color: $gray-lighter;
                                }

                                @media #{$mq-xl-min} {
                                    left: -2rem;
                                }
                            }

                            svg {
                                width: 2rem;
                                min-width: 2rem;
                                height: 2rem;

                                @media #{$mq-sm-min} {
                                    width: 2.5rem;
                                    min-width: 2.5rem;
                                    height: 2.5rem;
                                }

                                @media #{$mq-md-min} {
                                    width: 2.75rem;
                                    min-width: 2.75rem;
                                    height: 2.75rem;
                                }
                            }

                            p {
                                text-align: left;
                                width: auto;
                                font-size: .9rem;
                                line-height: 1.2;

                                @media #{$mq-sm-min} {
                                    line-height: 1.4;
                                    font-size: .875rem;
                                }

                                b {
                                    font-size: 85%;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes sliding {
	0% {
		transform: translateY(-100%);
        height: var(--scroll-size);
	}

    50% {
        height: 100%;
    }

	75% {
		transform: translateY(0);
        height: var(--scroll-size);
	}

    100% {
		transform: translateY(var(--scroll-size));
        height: var(--scroll-size);
	}
}

@keyframes fishJump {
	0% {
		transform: scale(1);
	}

    30% {
		transform: scale(.75);
	}

    60% {
        transform: scale(1.175) rotate(-2deg);
    }

    100% {
		transform: scale(1);
	}
}