$transparent:           transparent;
$pure-white:            #fff;
$white:                 #f0f0f0;
$gray-lightest:         #e2e2e2;
$gray-lighter:          #d2d2e1;
$gray-light:            #999;
$gray-medium:           #666;
$gray-dark:             #323246;
$gray-darker:           #222;
$gray-darkest:          #111;
$black:                 #0d0e13;
$pure-black:            #000;
$red:                   #ff3838;
$blue-dark:             #283a8e;
$blue:                  #03caff;

// create a color map
$colors: (
    'transparent':      $transparent,
    'pure-white':       $pure-white,
    'white':            $white,
    'gray-lightest':    $gray-lightest,
    'gray-lighter':     $gray-lighter,
    'gray-light':       $gray-light,
    'gray-medium':      $gray-medium,
    'gray-dark':        $gray-dark,
    'gray-darker':      $gray-darker,
    'gray-darkest':     $gray-darkest,
    'black':            $black,
    'pure-black':       $pure-black,
    'red':              $red,
    'blue-dark':        $blue-dark,
    'blue':             $blue
);